body {
  padding-top: 20px;
  background-color : #fff;
  font-family: "Helvetica", sans-serif;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: -25px;
}

p {
  font-size: 16px;
  text-align: justify;
}

a {
  font-weight: bold;
  text-decoration: none;
}

#app {
  width: 500px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  float: left;
}

#buttons {
  width: 160px;
  margin-top: 25px;
  float: left;
}

#scrollbars {
  font-weight: bold;
  width: 280px;
  display: block;
  font-size: 14px;
  margin: 0 auto;
}

.text {
  float: left;
  padding-left: 15%;
  padding-right: 15%;
}

.button {
  font-size: 12px;
  float: left;
  width: 70px;
  margin-bottom: 10px;
}

.scrollbar {
  width: 140px;
  float: left;
}

#sb1, #sb2 {
  display: block;
}
